:root {
    --background1: #F2F2EB;
    --heading1: #1e3a8a;
    --primary1: #2563eb;
    --primary2: #0ea5e9;
    --primary3: #6d28d9;
    --primary4: #047857;
    --neutral1: #f0f9ff;
}
* {
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
}
body {
    background: var(--background1);
    background-repeat: no-repeat;
    background-size: auto 100vh;
    overflow: hidden;
}
.main-section {
    border: 1px solid black;
    border-radius: 1rem;
    min-height: 400px;
    margin: 20% 5%;
    text-align: center;
    background-color: white;

}
.main-heading {
    color: var(--heading1);
    margin-top: 1rem;
}
#input-form {
    display: flex;
    flex-direction: column;
    margin: 1rem 10% 1.5rem;
}
.input-field {
    border: 2px solid var(--primary1);
    border-radius: 1rem;
    height: 32px;
    font-size: 1rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}
.input-btn {
    background-color: var(--primary1);
    border: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    height: 32px;
    width: 50%;
    margin: 0 auto;
}
.todo-item-div {
    background-color: var(--neutral1);
    border: 2px solid var(--primary2);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin: 0 10% 0.5rem;
}
.dragover {
    border: 2px solid var(--primary3);
}
.dragging {
    border: 2px solid green;
}
.todo-item-text {
    margin: 4px 0 0 1rem;
}
.fa-solid {
    cursor: pointer;
    margin-right: 1rem;
}

@media (min-width: 600px){
    .main-section {
        max-width: 500px;
        margin: 10% auto;
    }
}
